@import url("https://fonts.googleapis.com/css2?family=Kablammo&family=Rubik:ital,wght@0,600;0,700;0,800;0,900;1,900&family=Tinos:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #073453;
  --secondary: #28acc6;
  --tertiary: #e5e6e6;
}

body {
  font-family: "Rubik";
}

.error-image {
  width: 100%;
  height: 100vh;
}

.classes-cart-container {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
}

.classes-cart {
  width: 390px;
  height: 500px;
  background-color: var(--tertiary);
  margin: 10px;
  border-radius: 10px;
}
.addedClasses-cart {
  width: 300px;
  height: 500px;
  background-color: var(--tertiary);
  margin: 10px;
  border-radius: 10px;
}
.addedClasses-cart img {
  width: 300px;
}

.classes-cart__image {
  width: 390px;
  border-radius: 10px 10px 0 0;
  height: 250px;
}

.classes-cart__details {
  padding: 10px;
}

.classes-cart__heading {
  font-size: 25px;
  height: 75px;
}

.classes-cart__details h2 {
  margin-bottom: 10px;
}

.classes-cart__details p {
  font-size: 20px;
}

.button {
  color: #fff;
  background-color: var(--primary);
  transition: 0.5s ease-in-out;
}

.button:hover {
  background-color: var(--secondary);
  transition: 0.5s ease-in-out;
}
/* added classes  */
.edit-profile-form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bio {
  width: 100%;
  height: 200px;
  font-size: 18px;
}
/* spinner  */
.spinner-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.spinner {
  width: 40px;
  height: 40px;
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
.spinner-container-dashboard {
  display: flex;
  align-items: center;
  justify-content: center;
}
.spinner-dashboard {
  width: 40px;
  height: 40px;
  border: 4px solid #f3f3f3;
  border-top: 4px solid #ff00ea;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* spinner  */

/* table */

.my-table {
  text-align: center;
  width: 100%;
  border-collapse: collapse;
}
table {
  width: 100%;
}
.my-table th,
.my-table td {
  width: 240px;
  padding: 8px;
  border: 1px solid #ddd;
}

.my-table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.my-table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.delete-button,
.update-button {
  padding: 6px 10px;
  border: none;
  cursor: pointer;
  margin-right: 5px;
}

/* table */
/* card-bg-red */
.bg-red {
  color: #fff;
  background-color: var(--primary);
  margin: 10px;
}
